<!DOCTYPE html>
<html lang="en" xmlns = "http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div align="center">
  <br><br><br>
  <h2>Enter Credentials</h2>

<form method = POST>
    <label for="fname">First Name:</label>
    <input type="text" id="fname" name="fname" required><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname" required><br><br>
    <!--w3 school-->
    <label for="birthday">Today's date:</label>
    <input type="date" id="birthday" name="birthday" required><br><br>
    <label>Age</label>
    <input type="number" id="age" name="age" required><br><br>
    <label for="phone">Phone number:</label>
    <input type="tel" id="phone" name="phone" maxlength="8" placeholder="+65"><br><br>
    <label>Gender: </label>
    <select id="gender" name="gender">
    <option value="male">Male</option>
    <option value="female">Female</option>
</form>
</div>
</body>
</html>
